.item-card {
    padding-left: 5px !important;
    padding-right: 5px !important;

    &:not(.no-quantity) {
        padding-right: 65px !important;
    }

    // This fixes the size and alignment for default fallback avatars
    .MuiAvatar-colorDefault {
        width: 40px;
        height: 40px;
        margin: 0 auto;
    }

    .MuiListItemSecondaryAction-root {
        right: 1rem;
    }

    button[aria-label="delete"] {
        // svg {
        //     height: 1.5rem;
        //     width: 1.5rem;
        // }
        padding: 5px;
    }

    .item-col {
        .item-name {
            display: inline;
            font-size: 0.75rem;
        }

        p {
            font-size: 0.70rem;
        }

        .item-price {
            display: block;
        }
    }

    .quantity-col {
        align-self: center;

        .item-quantity {
            float: right;
            font-size: 0.70rem;
        }
    }

    .item-cost {
        font-size: 0.70rem;
    }
}