.number-stepper {
    &__minus,
    &__plus {
        padding: 0;
        min-width: 0.75rem;
        width: 0.75rem;
        border-radius: 1rem;
        line-height: 1.5;
    }

    &__value {
        color: rgba(0, 0, 0, 0.87) !important;
        width: 0.5rem;
        min-width: 0.5rem;
        padding: 0;
        font-size: .5rem;
    }

    button {
        min-width: .75rem !important;
        line-height: .75rem;
    }
}