.invoice-item-list {
    .item-list-container {
        max-height: 375px;
        overflow: auto;

        .item-list {
            background-color: #ffffff00;
            margin-top: -1.25rem;
        }
    }

    .total {
        font-size: 0.75rem;
        display: flex;
        justify-content: space-around;
        margin-bottom: .5rem;
    }
}