.quagga-scanner {
    .scan-button {
        padding: 0;
        width: 1rem;
        min-width: 1rem;

        &__icon {
            rotate: 90deg;
        }
    }
}

#interactive {
    position: relative;
}

#interactive,
#interactive.viewport {
    position: relative;
    width: 100% !important;
    height: 35vh !important;
}

#interactive.viewport canvas,
video {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
}

#interactive.viewport canvas.drawingBuffer,
video.drawingBuffer {
    width: inherit;
    height: inherit;
}